//- This layout is the defualt layout

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1, minimum-scale=1,user-scalable=no,maximum-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")
    title Jack Q's Blog
    != css('/css/main.css')
    block stylesheet
  body
    //- Main page content
    block content
    //- Page style sheet
    != js('/js/main.js')
    block script