//- This layout is the defualt layout

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Jack Q's Blog
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    block stylesheet
  body
    //- Main page content
    block content
    //- Page style sheet
    block script