// import font 

// Alegreya, for the article content
@import url('https://fonts.googleapis.com/css?family=Alegreya|PT+Mono|Raleway');
@font-sans-serif: 'Raleway', Helvetica, sans-serif;
@font-serief: 'Alegreya', 'Roboto', sans-serif;
@font-monospace: 'PT Mono', Monaco, Consolas, Ubuntu Mono, Courier New, Courier, monospace;
html {
  font-family: @font-serief;
}
p {
  font-family: @font-sans-serif;
}
pre, kbd, code{
  tab-size: 4;
  font-family: @font-monospace;
}

// code style 

.highlight{
  background: #2d2d2d;
  margin: 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22px;
  .gutter pre,
  .gist .gist-file .gist-data .line-numbers {
    color: #666;
    font-size: 0.85em;
  }

  pre {
    border: none;
    margin: 0;
    padding: 0;
  }
  table {
    margin: 0;
    width: auto;
  }
  td {
    border: none;
    padding: 0;
  }
  figcaption {
    font-size: 0.85em;
    color: #999;
    line-height: 1em;
    margin-bottom: 1em;
  }
  figcaption:before,
  figcaption:after {
    content: "";
    display: table;
  }
  figcaption:after {
    clear: both;
  }
  figcaption a {
    float: right;
  }
  .gutter pre {
    text-align: right;
    padding-right: 20px;
  }
  .line {
    height: 22px;
  }
  .line.marked {
    background: #515151;
  }
}
  
pre {
  .comment,
  .title {
    color: #999;
  }
  .variable,
  .attribute,
  .tag,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo {
    color: #f2777a;
  }
  .number,
  .processor,
  .built_in,
  .literal,
  .params,
  .constant {
    color: #f99157;
  }
  .class,
  .ruby .class .title,
  .css .rules .attribute {
    color: #9c9;
  }
  .string,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata {
    color: #9c9;
  }
  .css .hexcolor {
    color: #6cc;
  }
  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: #69c;
  }
  .keyword,
  .javascript .function {
    color: #c9c;
  }
}

// global style
html, body, ul, ol, li, dl, dt ,dd, aside, div, section {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
a{
  text-decoration: none;
  transition: all ease 400ms;
  color: inherit;
}
ol, ul, li{
  list-style: none;
}

// frame layout

// left side bar 
.jq-blog-aside{
  display: block;
  height: 100%;
  position: fixed;
  z-index: 1000;
  overflow-y: hidden;
  overflow-x: visible;
  top: 0;
  left:0;
  width: 30%;
  background: #09c;
  .aside-left{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .aside-header{
    @header-image: url('../img/aside-header.jpg');
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;
    text-align: center;
    background-image: @header-image;
    background-size: cover;
    background-position: center;
    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #09c, rgba(0,0,0,0), rgba(0,0,0,0));
      z-index: 0;
      transform-origin: bottom center;
      transition: all ease 400ms;
    }
    .wrapper{
      min-width: 260px;
      position: absolute;
      z-index: 10;
      bottom: 0;
      height: 170px;
      padding: 10px 0;
      left: 50%;
      margin-left: -130px;
      margin-bottom: 10px;
      box-shadow:0 0 10px 3px rgba(80,80,80,0.5);
      background: rgba(80,80,80,0.4);
      border-radius: 3px;
      transition: all ease 400ms;
      &:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 30px 6px rgba(80,80,80,0.6);
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        background-image: @header-image;
        background-position: center;
        background-size: cover;
        filter: blur(10px);
        transition: all ease 400ms;
      }
    }
    .icon{
      fill: #fff;
      width: 110px;
      display: block;
      margin: auto;
    }
    .name{
      border-top: dashed 1px rgba(220,220,220,0.4);
      line-height: 39px;
      font-size: 30px;
      font-weight: 100;
      font-family: @font-sans-serif;
      word-spacing: 0.6em;
      color: #deffff;
      text-shadow: 0 0 2px #333;
    }

    &:hover{
      &::after{
        transform: scaleY(2);
      }
      .wrapper::after{
        opacity: 0.2;
      }
    }
  }

  .aside-center{
    position: absolute;
    top: 40%;
    height: ~"calc(60% - 40px)";
    width: 100%;
    margin-bottom: 40px;
    overflow: auto;
    li{
      display: inline-block;
      position: relative;
      a{
        
        &:hover{
          color: #aabcef;
          text-shadow: 0 0 2px #333;
        }
      }
    }


    @color-tag-count: rgb(220,20,20);
    .tag-list-count,
    .archive-list-count,
    .category-list-count {
      font-weight: 600;
      text-shadow: 0 0 2px #aaa;
      font-family: @font-monospace;
      font-size: 16px;
      text-align: center;
      background: @color-tag-count;
      margin: 2px;
      z-index: 100;
      color: #dadada;
      min-width: 20px;
      line-height: 20px;
      height: 20px;
      display: block;
      position: absolute;
      right: -10px;
      bottom: 10px;

      border-radius: 10px;
      &::before{
        content: '';
        display: block;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: -3px;
        border: solid 0 transparent;
        border-top-width: 5px;
        border-right: solid @color-tag-count 13px;
        z-index: -1;
      }
    }
  }
  .aside-bottom{
    position: absolute;
    bottom: 0;
    border-top: dashed 1px #2be;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #555;
  }
}

// right content 
body > section{
  display: block;
  width: 70%;
  margin-left: 30%;
}