// import font 

// Alegreya, for the article content
// @import url('https://fonts.googleapis.com/css?family=Alegreya|PT+Mono|Raleway|Material+Icons');
// local font reference
@import url('./font.css');
@font-sans-serif: 'Raleway', Helvetica, sans-serif;
@font-serif: 'Alegreya', 'Roboto', sans-serif;
@font-monospace: 'PT Mono', Monaco, Consolas, Ubuntu Mono, Courier New, Courier, monospace;
html {
  font-family: @font-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: @font-sans-serif;
}
p {
  font-family: @font-serif;
}
pre, kbd, code{
  tab-size: 4;
  font-family: @font-monospace;
}
// Icon Font
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
// code style 

.highlight{
  background: #2d2d2d;
  margin: 0;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22px;
  .gutter pre,
  .gist .gist-file .gist-data .line-numbers {
    color: #666;
    font-size: 0.85em;
  }

  pre {
    border: none;
    margin: 0;
    padding: 0;
  }
  table {
    margin: 0;
    width: auto;
    min-width: 100%;
  }
  td {
    border: none;
    padding: 0;
  }
  figcaption {
    font-size: 0.85em;
    color: #999;
    line-height: 1em;
    margin-bottom: 1em;
  }
  figcaption:before,
  figcaption:after {
    content: "";
    display: table;
  }
  figcaption:after {
    clear: both;
  }
  figcaption a {
    float: right;
  }
  .gutter{
    width: 60px;
    pre {
      text-align: right;
      padding-right: 20px;
    }
  } 
  
  .line {
    height: 22px;
  }
  .code {
    .line{
      position: relative;
      &::after{
        top: -2px;
        left: -60px;
        box-sizing: content-box;
        padding-left: 60px;
        transition: all ease 400ms;
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid 2px transparent;
      }
      &:hover{
        &::after{
          background: rgba(220,220,220,0.15);
          border: solid 2px rgba(120,120,120,0.4);
        }
      }
    }
    
  }
  .line.marked {
    background: #515151;
  }
}
  
pre {
  .comment,
  .title {
    color: #999;
  }
  .variable,
  .attribute,
  .tag,
  .regexp,
  .ruby .constant,
  .xml .tag .title,
  .xml .pi,
  .xml .doctype,
  .html .doctype,
  .css .id,
  .css .class,
  .css .pseudo {
    color: #f2777a;
  }
  .number,
  .processor,
  .built_in,
  .literal,
  .params,
  .constant {
    color: #f99157;
  }
  .class,
  .ruby .class .title,
  .css .rules .attribute {
    color: #9c9;
  }
  .string,
  .value,
  .inheritance,
  .header,
  .ruby .symbol,
  .xml .cdata {
    color: #9c9;
  }
  .css .hexcolor {
    color: #6cc;
  }
  .function,
  .python .decorator,
  .python .title,
  .ruby .function .title,
  .ruby .title .keyword,
  .perl .sub,
  .javascript .title,
  .coffeescript .title {
    color: #69c;
  }
  .keyword,
  .javascript .function {
    color: #c9c;
  }
}

// global style
html, body, ul, ol, li, dl, dt ,dd, aside, div, section {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  transition: all ease 400ms;
  color: inherit;
}
ol, ul, li{
  list-style: none;
}


::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
  overflow: visible; 
}

::-webkit-scrollbar-corner{
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color:rgba(220,220,220,0.5);
  border: solid 1px rgba(0,0,0,0.3);
}

// List style
.tag-list-item, .category-list-item{
  margin: 0 20px;
  height: 35px;
  a {
    display: block;
    padding-left: 20px;
    height: 100%;
    line-height: 35px;
    text-decoration: underline;
    &::before{
      display: block;
      position: absolute;
      left: 0;
      padding: 0 5px;
      font-size: 1.6em;
      line-height: 35px;
      text-shadow: 0 0 2px #ccc;
      text-decoration: none;
      color: #555;
    }
  }
  .tag-list-link::before{content: '#';}
  .category-list-link::before{content: '>';}
}

// background
body {
  background-color: #fff;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='42' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ccc' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// frame layout

// nav bar
  

// left side bar 
.jq-blog-aside{

  display: block;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left:0;
  width: 500px;
  transition: all ease 400ms;

  @media screen and (max-width: 1024px) {
    left: -550px;
    &.toggle-on{
      left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    left: -110%;
    width: 100%;

  }
}

header.jq-nav-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  .nav-bar{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #ccc;
    background-color: rgba(200,205,220,0.3);
    opacity: 1;
    transition: all ease 400ms;
    top: -40px;
    @media screen and (max-width: 1024px){
      top: 0;
    }
    .toggle-on &{
      opacity: 0;
      top: -40px;
      pointer-events: none;
    }
  }
  .nav-bar-icon{
    text-align: center;
    .label{
      display: none;
    }
  }
  .icon{
    margin: auto;
    height: 40px;
    width: 40px;
    padding: 5px;
    fill: #fff;
    transition: all ease 400ms;
    svg{
      width: 30px;
      height: 30px;
      margin: auto;
      display: block;
      -webkit-filter: drop-shadow( 0 0 3px #555 );
      filter: drop-shadow( 0 0 3px #555 );
    }
  }
  .nav-bar-toggle{
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all ease 400ms;
    left: 0;
    top: -40px;
    opacity: 0;
    @media screen and (max-width: 1024px){
      opacity: 1;
      top: 0;
    }
    .toggle-on &{
      margin-left: -40px;
      @media screen and (max-width: 1024px){
        left: 500px;
      }
      @media screen and (max-width: 768px){
        left: 100%;
      }
    }

    span{
      display: block;
      position: absolute;
      background: #fff;
      box-shadow: 0 0 5px 2px rgba(120,120,120,0.4);
      height: 2px;
      margin-top: -1px;
      width: 30px;
      left: 5px;
      border-radius: 1px; 
      transition: all ease 400ms, 
        top ease 400ms 500ms, 
        transform ease 400ms 500ms,
        opacity ease 400ms 500ms;
      opacity: 1;
    }
    &:hover span{
      background: #ddd;
    }
    .toggle-line-1{
      top: 10px;
    }
    .toggle-line-2{
      top: 20px;
    }
    .toggle-line-3{
      top: 30px;
    }
    .toggle-on &{
      span{
        background: #faa;
      }
      .toggle-line-1{
        top: 20px;
        transform: rotate(135deg);
      }
      .toggle-line-2{
        opacity: 0;
      }
      .toggle-line-3{
        top: 20px;
        transform: rotate(-135deg);
      }
    }
  }
}

.aside-left{
  background: #09c;
  box-shadow: 0 0 20px 3px #555;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: all ease 400ms;
  @media screen and (max-width: 1024px){
    opacity: 0;
  }
  .toggle-on &{
    opacity: 1;
  }
}


.aside-header{
  @header-image: url('../img/aside-header.jpg');
  position: absolute;
  top: 0;
  height: 40%;
  width: 100%;
  text-align: center;
  background-image: @header-image;
  background-size: cover;
  background-position: center;
  &::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    // extra 1% to prevent render gap on scaled devices
    height: 101%;
    background: linear-gradient(to top, #09c, rgba(0,0,0,0), rgba(0,0,0,0));
    z-index: 0;
    transform-origin: bottom center;
    transition: all ease 400ms;
  }
  .wrapper{
    min-width: 260px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 100%;
    max-height: 170px;
    padding: 10px 0;
    left: 50%;
    margin-left: -130px;
    margin-bottom: 10px;
    box-shadow:0 0 10px 3px rgba(80,80,80,0.5);
    background: rgba(80,80,80,0.4);
    border-radius: 3px;
    transition: all ease 400ms;
    @media screen and (max-height: 768px){
      height: 100%;
    }
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 0 30px 6px rgba(80,80,80,0.6);
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      background-image: @header-image;
      background-position: center;
      background-size: cover;
      filter: blur(10px);
      transition: all ease 400ms;
    }
  }
  .icon{
    fill: #fff;
    width: 110px;
    height: 12/15*100%; // 120px / 150px on default
    display: block;
    margin: auto;
  }
  .name{
    border-top: dashed 1px rgba(220,220,220,0.4);
    line-height: 39px;
    font-size: 30px;
    font-weight: 100;
    font-family: @font-sans-serif;
    word-spacing: 0.6em;
    color: #deffff;
    text-shadow: 0 0 2px #333;
  }

  @media screen and (max-height: 435px){
    .wrapper{
      max-height: 120px;
      min-height: 80px;
    }
    .icon{
      width: 60px;
      height: 60px;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -30px;
    }
    .name{
      line-height: 26px;
      position: absolute;
      left: 80px;
      height: 80px;
      top: 50%;
      margin-top: -40px;
      border-top: none;
      border-left: dashed 1px rgba(220,220,220,0.4);
      line-height: 80px;
      padding-left: 10px;
      word-spacing: 0.3em;
    }
  }

  &:hover{
    &::after{
      transform: scaleY(2);
    }
    .wrapper::after{
      opacity: 0.2;
    }
  }
}

.aside-center{
  position: absolute;
  top: 40%;
  height: ~"calc(60% - 40px)";
  width: 100%;
  margin-bottom: 40px;
  overflow: auto;

  .icon-header{
    height: 40px;
    margin: 30px auto 0;
    color: #cee;
    text-align: center;
    transition: all ease 400ms;
    border-bottom: solid 2px transparent;
    position: relative;
    margin-top: 200px;
    
    @media screen and (max-height: 768px){
      margin-top: 120px;
    }
    @media screen and (max-height: 435px){
      margin-top: 30px;
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      background: #2be;
      height: 2px;
      bottom: 0;
      left: 50%;
      width: 0%;
      transition: all ease 400ms;
      z-index: 0;
    }
    &:hover{
      &::after{
        width: 100%;
        left: 0;
      }
    }
    .icon-item{
      display: inline-block;
      width: 70px;
      position: relative;
      border-bottom: solid 2px transparent;

      @media screen and (max-width: 435px){
        width: 55px;
      }
      @media screen and (max-width: 285px){
        width: 50px;
      }

      &>a, &>span{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
      }
      i{
        display: block;
        line-height: 40px;
        font-size: 35px;
        text-shadow: 0 0 2px #555;
        transition: all ease 400ms;
      }
      .tooltip{
        position: absolute;
        width: 100%;
        height: 30px;
        bottom: -30px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: all ease 400ms;
        transform: translateY(-10px);
        text-shadow: 0 0 2px #555;
      }
      &::after{
        position: absolute;
        box-sizing: border-box;
        z-index: 5;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        border: solid 2px #2be;
        border-bottom-color: transparent;
        border-right-color: transparent;
        background: #09c;
        display: block;
        content: '';
        left: 50%;
        margin-left: -5px;
        bottom: -8px;
        transition: all ease 400ms;
        opacity: 0;
      }
      &:hover{
        i{
          transform: translateY(-10px);
          text-shadow: 0 0 4px #555;
        }
        .tooltip{
          opacity: 1;
          transform: translateY(0px);
        }
        &::after{
          opacity: 1;
          bottom: -3px;
        }
      }
    }
  }


  .aside-center-content{
    color: #351;
    position: relative;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all ease 400ms;
    & > section {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: block;
      pointer-events: none;
      transition: all ease 400ms;
      transform: translateY(30px);
      opacity: 0;
      overflow-y: auto; 
      padding: 0 20px;
    }
    



    // Archive list
    .archive-list{
      text-align: center;
      .archive-list-item{
        border:dotted 1px #2be;
        margin: 0 -1px -1px 0;
        transition: all ease 400ms;
        &:hover{
          background-color: rgba(20,20,20,0.2);
        }
      }

      .archive-list-link{
        display: block;
        padding: 10px 10px;
        width: 60px;
        height: 60px;
        text-align: center;
        span:nth-child(1){
          display: block;
          height: 40px;
          line-height: 40px;
          font-size: 1.2em;
          border-bottom: dotted 1px #2be;
        }
        span:nth-child(2){
          display: block;
          font-size: 0.7em;
          height: 20px;
          line-height: 20px;
          font-family: @font-monospace;
        }
      }

      .archive-list-count{
        top: 5px;
        right: -2px;
      }
    }

    // Page content
    .toc{
      max-width: 300px;
      margin: auto;
      .toc-item{
        display: block;
        a.toc-link{
          display: block;
          transition: all ease 600ms;
          border-bottom: dotted 1px transparent;
          position: relative;
          margin-left: -0.5em;
          padding-left: 0.5em;
          &:hover{
            padding-left: 1em;
          }
          &::after{
            display: block;
            position: absolute;
            bottom: 0;
            border-bottom: dotted 1px #2be;
            content: '';
            width: 0;
            left: 0;
            transition: all ease 600ms;
          }
        }
        &:hover, &.active{
          &>a::after{
            width: 100%;
          }
        }
        &:hover>a{
          text-shadow: 0 0 2px #333;
        }
        &.active>a{
          color: #f99157;
        }
      }
      .toc-child{
        padding-left: 1em;
        position: relative;
        &::before{
          display: block;
          content: '';
          height: 0;
          border-left: dotted 1px #2be;
          position: absolute;
          left: 0.5em;
          transition: all ease 600ms;
        } 
        &:hover::before{
          height: 100%;
        }
      }
    }
  }

  &.active{
    .icon-header {
      margin-top: 40px;
      @media screen and (max-height: 768px){
        margin-top: 20px;
      }
      @media screen and (max-height: 435px){
        margin-top: 5px;
      }
    }

    .aside-center-content{
      height: ~"calc(100% - 120px)";
      margin-top: 40px;
      @media screen and (max-height: 768px){
        margin-top: 30px;
        height: ~"calc(100% - 90px)";
      }
      @media screen and (max-height: 435px){
        margin-top: 20px;
        height: ~"calc(100% - 65px)";
      }
    }

    &[data-content-tab=tag] .icon-header:not(:hover) [data-content=tag],
    &[data-content-tab=category] .icon-header:not(:hover) [data-content=category],
    &[data-content-tab=archive] .icon-header:not(:hover) [data-content=archive],
    &[data-content-tab=content] .icon-header:not(:hover) [data-content=content]   {
      span.tooltip{
        opacity: 1;
        transform: translateY(0px);
        color: #f99157;
      }
    }
      
    &[data-content-tab=tag] .aside-tag,
    &[data-content-tab=category] .aside-category,
    &[data-content-tab=archive] .aside-archive,
    &[data-content-tab=content] .aside-content{
      display: block;
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }

  }


  li{
    display: inline-block;
    position: relative;
    a{
      &:hover{
        color: #aabcef;
        text-shadow: 0 0 2px #333;
      }
    }
  }


  @color-tag-count: rgb(220,180,120);
  .tag-list-count,
  .archive-list-count,
  .category-list-count {
    font-weight: 600;
    text-shadow: 0 0 2px #aaa;
    font-family: @font-monospace;
    font-size: 16px;
    text-align: center;
    background: @color-tag-count;
    margin: 2px;
    z-index: 100;
    color: #dadada;
    min-width: 20px;
    line-height: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: -25px;
    bottom: 10px;

    border-radius: 10px;
    &::before{
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: -3px;
      border: solid 0 transparent;
      border-top-width: 5px;
      border-right: solid @color-tag-count 13px;
      z-index: -1;
    }
  }
}
.aside-bottom{
  position: absolute;
  bottom: 0;
  border-top: dashed 1px #2be;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #555;
}


// right content
body > section{
  display: block;
  position: relative;
  margin-left: 499px;
  margin-right: 20px;
  max-width: 1200px;
  background: rgba(225,220,245,0.5);
  // make right section fill screen
  min-height: 100vh;
  // box-shadow: 0 0 10px 2px rgba(235,240,230,0.5);

  @media screen and (max-width: 1024px){
    margin: 0 20px;
  }
  @media screen and (max-width: 768px){
    margin: 0 10px;
  }

}

// right loader
body > section.page-loader{
  z-index: 100;
  position: fixed;
  height: 100vh;
  width: ~"calc( 100vw - 500px )";
  margin-left: 500px;
  max-width: none;
  max-height: none;
  pointer-events: none;
  background: none;
  // display: none;
  
  &::before, &::after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 0;
    transition: all ease 400ms;
    background: #fff;
    // opacity: 0;
    transform: translateY(-55vh);
  }
  &::after{
    top: 50%;
    transform: translateY(55vh);
  }

  @media screen and (max-width: 1024px){
    width: 100vw;
    margin: 0;
  }

  @keyframes loader-loading {
    0% {
      background-color: #fff;
    }
    50%{
      background-color: #09c;
    }
    100%{
      background-color: #f99157;
    }
  }

  .loading-animate{
    margin: -25px auto auto -25px;
    height: 50px;
    width: 50px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    border: solid 2px #000;
    opacity: 0;
    transition: all ease 400ms;
  }

  .error-animate {
    opacity: 0;
    margin: -25px auto auto -75px;
    height: 80px;
    width: 150px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    opacity: 0;
    transition: all ease 400ms;
    text-align: center;
    color: #f2777a;
    i {
      font-size: 50px;
      display: block;
      height: 50px;
      width: 50px;
      line-height: 50px;
      margin: auto;
    }
    .message {
      height: 30px;
      font-size: 16px;
    }
    
  }

  &.loading{
    z-index: 100;
    display: block;
    &::before, &::after{
      // opacity: 1;
      transform: translateY(0);
    }
    .loading-animate{
      opacity: 1;
      animation: loader-loading 1.2s infinite alternate linear;
    }
  }

  &.error {
    z-index: 100;
    display: block;
    &::before, &::after{
      // opacity: 1;
      transform: translateY(0);
    }
    .error-animate{
      opacity: 1;
      // animation: loader-error 1.2s infinite alternate;
    }
    
  }
}


// right content: the article layout

@page-padding: 35px;
section.article-content{
  padding: @page-padding;
  padding-top: 30px + @page-padding;

  h1 {
    font-size: 2em;
    text-align: center;
    color: #555;
    font-weight: 900;
    font-family: @font-sans-serif;
    letter-spacing: -2px;

    @media screen and (max-width: 435px){
      font-size: 1.6em;
    }
  }
}

.post-meta{
  text-align: center;
  padding: 10px 0;
  margin: 0 -@page-padding;
  line-height: 60px;
  font-size: 22px;

  @media screen and (max-width: 435px){
    font-size: 16px;
    line-height: 35px;
    padding-top: 0;
  }
  
  .meta-date, ul, li{
    display: inline-block;
    position: relative;
    line-height: inherit;
    font-size: inherit;
  }
  .meta-date::before {
    content: "date_range";
    font-family: "Material Icons";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
  .tag-list-item, .category-list-item{
    margin: 0;
    padding: 0;
  }
  .meta-date, .category-list-link, .tag-list-link{
    min-width: 5em;
    margin: 0 10px;
    color: #aaa;
    position: relative;
    padding-left: 1.8em;
    box-sizing: content-box;
    text-decoration: none;
    display: inline-block;
    height: auto;
    transition: all ease 400ms;
    line-height: inherit;

    &:hover{
      color: #09c;
      &::after {
        border-bottom: dotted 1px;
      }
    }
    &::before{
      width: 1.8em;
      font-size: 1.2em;
      display: block;
      position: absolute;
      line-height: inherit;
      padding: 0;
      top: 0;
      left: 0;
      color: inherit;
    }
    &::after{
      display: block;
      content: '';
      width: 100%;
      left: 0;
      bottom: 10px;
      position: absolute;
      // border-bottom: dotted 1px;
    }
  }
}

.post-content{
  
  color: #555;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 1px;
  word-spacing: 0.1em;
  padding-bottom: 40px;

  @media screen and (max-width: 1024px){
    font-size: 20px;
    line-height: 31px;
  }
  @media screen and (max-width: 768px){
    font-size: 18px;
    line-height: 28px;
  }
  @media screen and (max-width: 435px){
    font-size: 16px;
    line-height: 25px;
  }



  h1.article-heading, h2.article-heading {
    font-weight: 900;
    font-size: 1.6em;
    padding: 25px 10px 10px;
    word-spacing: 0.3em;;
    letter-spacing: -1px;
    color: #9a9a9a;
    margin: 0;
    position: relative;
    &::before{
      position: absolute;
      left: -@page-padding;
      top: 0;
      display: block;
      border-left:solid 20px #ccc;
      border-bottom: dotted 1px #ccc;
      height: 100%;
      width: 100%;
      content: '';
      z-index: -1;
    }
  }

  h3.article-heading {
    font-weight: 800;
    font-size: 1.4em;
    padding: 10px 10px 0;
    word-spacing: 0.3em;
    letter-spacing: -1px;
    color: #808080;
    margin: 0;
  }
  h4.article-heading {
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px 10px 0;
    word-spacing: 0.3em;
    letter-spacing: -1px;
    color: #777;
    margin: 0;
    margin-left: 20px;
    margin-bottom: -5px;
  }
  h5.article-heading {
    font-weight: 600;
    font-size: 1.1em;
    padding: 5px 10px 0;
    word-spacing: 0.3em;
    letter-spacing: -1px;
    color: #666;
    margin: 0;
    margin-left: 30px;
    margin-bottom: -10px;
  }
  h6.article-heading {
    font-weight: 500;
    font-size: 1em;
    padding: 0 10px 0;
    color: #555;
    margin: 0;
    margin-left: 40px;
    margin-bottom: -15px;
  }
  p {
    margin: 25px 0;
    @media screen and (max-width: 768px){
      margin: 23px -10px;
    }
    @media screen and (max-width: 435px){
      margin: 20px -15px;
    }
  }

  a {
    border-bottom: 1px dashed #999;
    color: #666;
    padding: 0 2px;
    transition: all ease 400ms;
    &:hover {
      color: #888;
      border-bottom-color: #09c;
    }
  }

  p code, li code,  {
    background: rgba(220,220,220,0.2);
    border: solid 1px rgba(200,200,200,0.7);
    padding: 4px 6px;
    border-radius: 3px;
  }

  kbd {
    background: rgba(180,190,220,0.2);
    border: solid 1px rgba(200,200,200,0.9);
    padding: 0 3px;
    font-size: 0.8em;
    border-radius: 3px;
    font-weight: 900;
  }

  figure.highlight{
    margin: 10px -@page-padding;
    display: block;
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  blockquote {
    background: rgba(200,200,200,0.3);
    padding: 15px 45px;
    margin: 20px -@page-padding 20px;
    position: relative;
    &::before{
      position: absolute;
      content: "“";
      top: 10px;
      left: 20px;
      font-size: 145px;
      font-weight: 900;
      display: block;
      color: rgba(180,180,200,0.7);
      line-height: 100px;
      z-index: -1;
    }
  }
}



.article-anchor{
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
  transition: all ease 400ms;
  .article-heading &::before{
    content: "#";
    display: block;
  }

  .article-heading & {
    border-color: transparent;
  }

  .article-heading:hover &{
    color: #09c;
    opacity: 1;
    
  }

  .article-heading:hover &::before{
    color: #09c;
    border-color: #09c;
  }
}

.post-content-end{
  display: block;
  font-family: @font-monospace;
  text-align: center;
  font-size: 14px;
  color:#ccc;
  font-weight: 900;
  height: 50px;
  line-height: 50px;
  margin: 0 -@page-padding 40px;

  &::before, &::after{
    display: inline-block;
    content: '';
    height: 5px;
    width: 220px;
    max-width: 30%;
    background: rgba(200,200,200,0.5);
    vertical-align: top;
    margin: 22.5px 5% 0;
  }
}

// prev/next page 
.post-prev-next{
  font-size: 1.2em;
  color: #999;
  margin-bottom: 40px;
  @media screen and (max-width: 768px){
    font-size: 1em;
    margin: 0 5px-@page-padding 40px;
  }
  @media screen and (max-width: 435px){
    font-size: 0.8em;
  }

  .post-prev, .post-next{
    width: 50%;
    display: inline-block;
    font-size: inherit;
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }

  .post-prev{
    text-align: left;
  }
  .post-next{
    text-align: right;
    border-left: solid #ccc 1px;
    @media screen and (max-width: 768px){
      border-left: none;
      border-top: solid #ccc 1px;
    }
  }

  .post-prev-null, .post-prev-link, .post-next-null, .post-next-link{
    display: block;
    height: 2em;
    padding-top: 25px;
    line-height: 2em;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &::before{
      top: 5px;
      font-weight: 900;
      font-family: @font-sans-serif;
      font-size: 0.8em;
      display: block;
      position: absolute;
      line-height: 20px;
      color: #aaa;
    }
  }
  .post-prev-null::before{
    content: 'NO MORE OLDER POST';
    left: 0;
    top: 20px;
  }
  .post-prev-link::before{
    content: 'PREVIOUS POST';
    left: 0;
  }
  .post-next-null::before{
    top: 20px;
    content: 'NO MORE NEWER POST';
    right: 0;
  }
  .post-next-link::before{
    content: 'NEXT POST';
    right: 0;
  }

}

// page comment 
.post-comment{
  #disqus_thread{
    text-align: center;
    color: #ccc;
    font-size: 1.2em;
  }
}

// post list

// right content: the list layout
section.list-content{
  border: none;
  margin-right: 0;
  max-width: none;
  position: relative;
  padding: 0;
  width: auto;
  transition: all ease 400ms;
  
  @media screen and (max-width: 1024px){
    margin-left: 0;
  }

  .post-list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    transition: all ease 400ms;

    height: 100vh;
    align-content: flex-start;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto;
    padding-right: 60px;
    @media screen and (max-width: 1024px){
      padding-top: 60px;
    }

    @media screen and (max-width: 768px){
      padding-right: 0;
      padding-bottom: 60px;
      flex-direction: row;
      overflow-x: hidden;
      overflow-y: auto;
    }
    & > div {
      // flex-basis: 430px;
      width: 480px;
      overflow: hidden;
      align-self: stretch;
      flex-grow: 0;
      margin: 20px;
      box-shadow: 0 0 10px 2px rgba(150,150,150,0.4);
      @media screen and (max-width: 768px){
        box-shadow: inset 0 0 20px 2px rgba(80,80,80,0.2);
        margin: 0 -1px -1px 0;
        flex-grow: 1;
        flex-basis: 300px;
        height: 300px;
      }
      @media screen and (max-width: 435px){
        min-width: 100%;
      }
    }
    
  }

  div.post-list-head {
    display: flex;
    background: rgba(220,220,240,0.5);
    position: relative;


    & > div {
      flex-grow: 1;
      margin: auto 0;
    }
    
    em {
      color: #09c;
      font-style: normal;
    }

    .archive, .tag, .category, .welcome {
      position: relative;
      z-index: 1;
      &::after{
        font-family: "Material Icons";
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        position: absolute;
        right: -20px;
        bottom: -20px;
        font-size: 180px;
        color: rgba(200,200,200,0.5);
        z-index: -1;
      }
    }
    .archive::after{
      content: "date_range";
    }
    .tag::after{
      content: "label_outline";
    }
    .category::after{
      content: "folder_open";
    }
    .welcome::after{
      content: "";
    }
    
    .text {
      text-align: center;
      margin: auto;
      padding: 60px 0;
      text-transform: uppercase;
      font-size: 1.4em;
      font-family: @font-sans-serif;
      color: #999;
      .cur, .first::after, .last::after{
        color: #09c;
      }
    }
  }
  .welcome {
    .text{
      font-family: @font-sans-serif;
      font-size: 35px;
      color: #999;
      padding: 20px;
      border-bottom: dotted 1px #999;
    }

    .desp {
      margin: 50px 25px;
      height: 55px;
      position: relative;
      overflow: hidden;

      @keyframes blink {
        0% {
          opacity: 0;
        }
        80% {
          opacity: 1;
        }
      }

      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 5px;
        left: 10px;
        top: 35px;
        background: #999;
        
        animation: blink 300ms infinite alternate;
      }

      @alternate-line-height: 55px;
      @keyframes ul-desp-alternate {
        0% {
          top: 0;
        }
        25% {
          top: 0;
        }
        25.01% {
          top: -@alternate-line-height;
        }
        50% {
          top: -@alternate-line-height;
        }
        50.01% {
          top: -2*@alternate-line-height;
        }
        75% {
          top: -2*@alternate-line-height;
        }
        75.01% {
          top: -3*@alternate-line-height;
        }
        100% {
          top: -3*@alternate-line-height;
        }
      }

      ul{
        position: absolute;
        left: 30px;
        animation: 8s ul-desp-alternate infinite, 1s blink infinite alternate;
      }
      li {
        display: block;
        height: 55px;
        font-family: @font-sans-serif;
        line-height: @alternate-line-height;
        font-size: 1.1em;
        font-weight: 100;
        a, em {
          color: #09c;
          font-style: normal;
        }
      }
    }
  }

  .post-list-post{
    border: solid 1px rgba(200,200,200,0.5);
    position: relative;
    margin: 0 -1px -1px 0;
    font-size: 22px;
    line-height: 35px;

    @media screen and (max-width: 768px){
      font-size: 20px;
      line-height: 30px;
    }
    @media screen and (max-width: 435px){
      border: none;
      font-size: 16px;
      line-height: 25px;
    }

    & > a{
      font-size: inherit;
      line-height: inherit;
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      max-height: 360px;
      min-height: 220px;
      // min-height: 330px;
      overflow: hidden;
      position: relative;
      div {
        font-size: inherit;
        line-height: inherit;
        cursor: pointer;
      }
    }
    .title{
      font-size: 1.4em;
      font-family: @font-sans-serif;
      font-weight: 900;
      letter-spacing: -0.05em;
      color: #999;
      line-height: 2em;
      padding: 25px 20px 0;
      border-bottom: solid #ccc 2px;
      position: relative;
      &::after{
        display: block;
        content: "";
        height: 0.2em;
        width: 20%;
        position: absolute;
        bottom: 0;
        left: 3%;
        background: #ccc;
      }
    }

    .date {
      text-align: right;
      font-size: 0.9em;
      padding: 0 25px;
      color: #555;
    }

    .excerpt {
      color: #555;
      letter-spacing: 1px;
      word-spacing: 0.1em;
      padding: 25px 20px 0;
      margin-bottom: -40px;
    }

    .more{
      position: absolute;
      z-index: 10;
      color: #888;
      letter-spacing: -3px;
      bottom: 0;
      left: 0;
      font-size: 1.5em;
      font-family: @font-monospace;
      padding: 30px;
      height: 50%;
      min-height: 150px;
      background: linear-gradient(to top, #ccc, rgba(255,255,255,0));
      width: 100%;
      vertical-align: bottom;
      text-align: right;
      &::after{
        content: 'READ MORE';
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
        text-shadow: 0 0 4px #eee;
      }
    }
  }

  .post-list-pagination{
    background: rgba(220,220,240,0.5);
    display: flex;
    flex-direction: column;
    .text{
      text-align: center;
      margin: auto;
      padding: 60px 0;
      text-transform: uppercase;
      font-size: 1.4em;
      font-family: @font-sans-serif;
      color: #999;
      .cur, .first::after, .last::after{
        color: #09c;
      }
      .first{
        &::before{
          content: 'the ';
        }
        &::after{
          content: ' first ';
        }
      }
      .last{
        &::before{
          content: 'the ';
        }
        &::after{
          content: 'last ';
        }
      }
      .total{
        display: inline-block;
        &::before{
          content: ' of ';
        }
        &::after{
          content: ' pages';
        }
      }
      .one {
        &::after{
          content: "the only page";
        }
      }
    }
    .action{
      border-top: dotted 1px #999;
      display: flex;
      a {
        flex-grow: 1;
        padding: 20px;
        font-family: @font-sans-serif;
        font-weight: 900;
        color: #aaa;
        text-transform: uppercase;
         
        & + a {
          border-left: dotted 1px #999;
        }
        &.next{
          text-align: right;
        }
        &.prev{
          text-align: left;
        }
        &:hover{
          color: #09c;
        }
      }
    }
  }
}
