// import font 

// Alegreya, for the article content
@import url('https://fonts.googleapis.com/css?family=Alegreya|PT+Mono|Raleway');
html {
  font-family: 'Raleway', Helvetica, sans-serif;
}
p {
  font-family: 'Alegreya', 'Roboto', sans-serif;
}
pre, kbd, code{
  font-family: 'PT Mono', Monaco, Consolas, Ubuntu Mono, Courier New, Courier, monospace;
}


// global style
html, body, ul, ol, li, dl, dt ,dd {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

ol, ul, li{
  list-style: none;
}

// frame layout

// left side bar 
.jq-blog-aside{
  display: block;
  height: 100%;
  width: 100%;
  background: #09c;
}