extend _layout/default

include _mixin/post
include _mixin/site-aside
include _mixin/page-loader

block content
  +site-aside()
  +page-loader()
  section.article-content(itemscope,itemtype="http://schema.org/Article",role="main")
    +post(page)