mixin page-loader()
  section.page-loader
    .loading-animate
    .error-animate
      i.material-icons error
      .message Network Error...
      .suggestion Check your network connection and reload or refresh this page.