mixin post-list(posts)
  ul.post-list
    each post in (posts.toArray ? posts.toArray() : posts)
      li.post(style={
        border: "solid 1px #aaa",
        margin: "20px"
      })
        h1: a(href=url_for(post.path))= post.title
        != post.excerpt
        // pre!=require('util').inspect(post)
  != paginator(options)