mixin post(post)
  h1= post.title
  .meta
    span.meta-date= date(post.date)
    span.meta-categories
      != list_categories(post.categories, {show_count: false})
    span.meta-tags
      != list_tags(post.tags, {show_count: false})
  != post.content