mixin site-aside()
  aside.jq-blog-aside
    .aside-left
      .aside-header
        .wrapper
          .icon
            <svg viewBox="0 0 1000 1000" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
              <polygon points="20,20 250,20 20,250 "/>
              <polygon points="325,20 325,400 175,400 175,140 295,20 "/>
              <circle cx="249.89" cy="499.769" r="75"/>
              <path d="M350,425h150v74.962c0,0,2.72,150.038,150.426,150.038S715,650,715,650v150c0,0,239.892,0-64.574,0 C350.325,800,350,499.962,350,499.962V425z"/>
              <circle cx="905" cy="500" r="75"/>
              <path d="M605,50v150h75.036c0,0,149.964,2.896,149.964,150.552S830,400,830,400h150c0,0,0,254.915,0-49.448 C980,50.552,680.036,50,680.036,50H605z"/>
              <polygon points="738,650 738,800 813,725 "/>
              <rect height="100" width="100" x="350" y="300"/>
              <path d="M450,403"/>
              <rect height="100" width="100" x="477.392" y="50"/>
              <rect height="100" width="100" x="411" y="180"/>
              <rect height="280" width="150" x="830" y="600"/>
              <path d="M175,600h150c0,0,0-120,0,130S75,980,75,980H20V830c0,0-51.286,0,51.857,0S175,730,175,730V600z"/>
              <polygon points="980,902 830,902 905,977 "/>
            </svg>
          .name Jack Q

      .aside-center
        section
          h2 Tag
          != list_tags()
          
        section
          h2 Catagory
          != list_categories()

        section
          h2 Post
          != list_posts()

        section
          h2 Archives
          != list_archives()

        if page.content && toc(page.content)
          section
            h2 Contents
            != toc(page.content)

        section
          h2 Tag Cloud
          != tagcloud()
      
      .aside-bottom
        .aside-copy 2016 &copy; Jack Q