mixin site-aside()
  aside.jq-blog-aside
    .aside-left
      .aside-header
        h1: a(href=url_for('/')) Home

      .aside-center
        section
          h2 Tag
          != list_tags()
          
        section
          h2 Catagory
          != list_categories()

        section
          h2 Post
          != list_posts()

        section
          h2 Archives
          != list_archives()

        if page.content && toc(page.content)
          section
            h2 Contents
            != toc(page.content)

        section
          h2 Tag Cloud
          != tagcloud()
      
      .aside-bottom
        .aside-copy 2016 &copy; Jack Q